<div id="<%= dom_id monthly_summary %>">
  <p>
    <strong>User:</strong>
    <%= monthly_summary.user_id %>
  </p>

  <p>
    <strong>Month:</strong>
    <%= monthly_summary.month %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= monthly_summary.year %>
  </p>

  <p>
    <strong>Total income:</strong>
    <%= monthly_summary.total_income %>
  </p>

  <p>
    <strong>Total expense:</strong>
    <%= monthly_summary.total_expense %>
  </p>

  <p>
    <strong>Balance:</strong>
    <%= monthly_summary.balance %>
  </p>

</div>
