<div id="<%= dom_id invoice %>">
  <p>
    <strong>Total amount:</strong>
    <%= invoice.total_amount %>
  </p>

  <p>
    <strong>Due date:</strong>
    <%= invoice.due_date %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= invoice.status %>
  </p>

  <p>
    <strong>Account:</strong>
    <%= invoice.account_id %>
  </p>

</div>
