<div class="table-responsive">
  <table class="table table-striped table-hover align-middle mb-0">
    <thead class="text-uppercase small">
      <tr>
        <th>ID</th>
        <th>Status</th>
        <th>Due date</th>
        <th>Total amount</th>
        <th class="text-center">Actions</th>
      </tr>
    </thead>

    <tbody>
    <% invoices.each_with_index do |invoice, index| %>
      <tr>
        <td style="<%= background_tr(index) %> font-weight: bold">
          <%= invoice.id %>
        </td>

        <td style="<%= background_tr(index) %> font-weight: bold">
          <span class="badge <%= invoice.status == 'Pago' ? 'bg-success' : invoice.status == 'Pendente' ? 'bg-warning' : 'bg-danger' %> text-uppercase small">
            <%= invoice.status %>
          </span>
        </td>

        <td style="<%= background_tr(index) %> font-weight: bold">
          <%= invoice.due_date %>
        </td>

        <td style="<%= background_tr(index) %> font-weight: bold">
          <%= number_to_currency(invoice.total_amount) %>
        </td>

        <td class="text-center d-flex gap-2 justify-content-center" style="<%= background_tr(index) %> ">
          <%= link_to 'View',
            invoice_path(invoice),
            class: "btn btn-sm btn-outline-primary fw-semibold" %>

          <%= link_to 'Edit',
            edit_invoice_path(invoice),
            class: "btn btn-sm btn-outline-warning fw-semibold" %>

          <%= link_to 'Delete',
            invoice_path(invoice),
            method: :delete,
            data: { confirm: 'Are you sure?' },
            class: "btn btn-sm btn-outline-danger fw-semibold" %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <div class="d-flex justify-content-end align-items-center mt-3">
    <%= paginate @invoices %>
  </div>  
</div>