<div id="<%= dom_id budget %>">
  <p>
    <strong>User:</strong>
    <%= budget.user_id %>
  </p>

  <p>
    <strong>Categories:</strong>
    <%= budget.categories_id %>
  </p>

  <p>
    <strong>Limit amount:</strong>
    <%= budget.limit_amount %>
  </p>

  <p>
    <strong>Month:</strong>
    <%= budget.month %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= budget.year %>
  </p>

</div>
