<div id="<%= dom_id payment %>">
  <p>
    <strong>Amount:</strong>
    <%= payment.amount %>
  </p>

  <p>
    <strong>Payment date:</strong>
    <%= payment.payment_date %>
  </p>

  <p>
    <strong>Payment method:</strong>
    <%= payment.payment_method %>
  </p>

  <p>
    <strong>Account:</strong>
    <%= payment.account_id %>
  </p>

  <p>
    <strong>Invoice:</strong>
    <%= payment.invoice_id %>
  </p>

</div>
