<!-- Nabar primary -->

<div id="navbarContainer">
  <nav class="navbar navbar-dark navbar-expand-lg" id="mainNavbar">
    <div class="container-fluid">

    <!-- Title do navbar primary -->
      <div>
        <a class="navbar-brand" href="#">Dashboard</a>
      </div>

      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <!-- ms-auto empurra para a direita -->
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">Features</a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button"
               data-bs-toggle="dropdown" aria-expanded="false">
              Settings
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#">Admin</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>

<!-- Nav secundary vertical mais o conteudo ao lado -->
<div class="d-flex">
  <nav class="navbar flex-column vh-90 p-3 sidebar" style="width: 240px;" id="sidebarMenu">
    <div class="navbar-nav d-flex h-100 w-100">
      <div class="d-flex flex-column gap-3">
        <%= link_to root_path, class: "nav-link d-flex align-items-center gap-2" do %>
          <i class="bi bi-speedometer2"></i>
          Dashboard
        <% end %>

        <%= link_to accounts_path, class: "nav-link d-flex align-items-center gap-2 active" do %>
          <i class="bi bi-arrow-left-right"></i>
          Accounts
        <% end %>

        <%= link_to transactions_path, class: "nav-link d-flex align-items-center gap-2" do %>
          <i class="bi bi-arrow-left-right"></i>
          Transactions
        <% end %>


        <%= link_to budgets_path, class: "nav-link d-flex align-items-center gap-2" do %>
          <i class="bi bi-pie-chart"></i>
          Budgets
        <% end %>

        <%= link_to budgets_path, class: "nav-link d-flex align-items-center gap-2" do %>
          <i class="bi bi-receipt"></i>
          Invoices
        <% end %>
      </div>
    </div>
  </nav>

<main class="p-4 flex-grow-1">

  <% if notice.present? %>
    <div class="alert alert-success">
      <%= notice %>
    </div>
  <% end %>

  <div class="table-responsive">
    <table class="table table-striped table-hover align-middle">
      <thead class="table-dark">
        <tr>
          <th>ID</th>
          <th>Account Name</th>
          <th>Balance</th>
          <th>Type</th>
          <th class="text-center">Actions</th>
        </tr>
      </thead>

      <tbody>
        <% @accounts.each do |account| %>
          <tr>
            <td><%= account.id %></td>
            <td><%= account.name %></td>
            <td>
              <span class="fw-bold">
                <%= number_to_currency(account.balance) %>
              </span>
            </td>
            <td>
              <span class="badge bg-primary">
                <%= account.accountType %>
              </span>
            </td>
            <td class="text-center">
              <%= link_to 'View', account_path(account), class: "btn btn-sm btn-outline-primary" %>
              <%= link_to 'Edit', edit_account_path(account), class: "btn btn-sm btn-outline-warning" %>
              <%= link_to 'Delete', account_path(account),
                  method: :delete,
                  data: { confirm: 'Are you sure?' },
                  class: "btn btn-sm btn-outline-danger" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

</main>

</div>






<p style="color: green"><%= notice %></p>

<% content_for :title, "Accounts" %>

<h1>Accounts</h1>

<div id="accounts">
  <% @accounts.each do |account| %>
    <%= render account %>
    <p>
      <%= link_to "Show this account", account %>
    </p>
  <% end %>
</div>

<%= link_to "New account", new_account_path %>
